/* resets */

* {
  margin: 0;
  padding: 0;
}

html, body {
  border: 0 0 0 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
}



/* Main App  */

body { 
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background-color: #003c71;
  height: 100vh;
  position: absolute;
  width: 50px;
  /*background-color: #002d55; for when clicked */
}

ul {
  list-style: none;
}

.nav li {
  align-items: center;
  border-bottom: 1px solid #000;
  display:flex;
  height: 50px;
  justify-content: center;  
}

.nav li:nth-child(1){
  margin-top: 50px;
}

.icon {
  color: #fff;
}
