/* resets */

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border: 0 0 0 0;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
}



.nav {
  position: absolute;
  height: 100vh;
  width: 50px;
  background-color: rgb(0, 60, 113);
  /*background-color: rgb(0, 45, 85); for when clicked */
}

ul {
  list-style: none;
}

.nav li {
  height: 50px;
  
  border-bottom: 1px solid black;
}
