.DiagnosticToolComponant {
    height: 100vh;
    width: 100vw;
}

header {
    align-items: center;
    background-color: #0071c5;
    box-shadow: 0px 5px 5px #d3d3d3;
    color: #fff;
    display: flex;
    height: 50px;
    justify-content: space-between;  
}

header h2{
    flex-grow: .2;
    text-align: center;
}

header ul {
    display: flex;
}

header li {
    width:50px;
}

header li:nth-child(1) {
    border-right: 1px solid #fff;
    margin-right: 25px;
    padding-right: 25px;
    width: fit-content;  
}


.container {
    display: grid;
    gap: 1vh 2vw;
    grid-template-columns: 16vw 9vw 9vw 9vw 31vw 16vw;
    grid-template-rows: 5vh 4vh 15vh 25vh 25vh;
}

.title {
    color:#d3d3d3;
    grid-column: 2/6;
    height: 5vh;
    margin-top: 3vh;
}

.toolName {
    align-items: center;
    align-self: center;
    background-color: #d3d3d3;
    display: flex;
    grid-column: 1/7;
    height: 4vh;
    justify-content: space-between;
    padding: 0 18vw;  
}

.card {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.filters {
    align-self: flex-end;
    font-size: 1vw;
    grid-column: 2/3;
    height: 12vh;
    width: 19vw;
}

.filtersBox {
    padding: 2vh 0 3vh 1vw;
}

.trend {
    align-self: flex-end;
    display: flex;
    grid-column: 5/6;
    height: 12vh;
    justify-content: space-between; 
}

.button {
    background-color: #0288d1;
    border-radius: 5px;
    padding: 4px;
}

.qualityScore {
    grid-column: 2;
    grid-row: 4;
}
  

.basics {
    grid-column: 3;
    grid-row: 4;
}
   
.interaction {
    grid-column: 4;
    grid-row: 4;
}

.expertise {
    grid-column: 2;
    grid-row: 5;
}
  
.process {
    grid-column: 3;
    grid-row: 5;
}
  
.knowledge {
    grid-column: 4;
    grid-row: 5;
}
  

.chart {
    grid-column: 5/6;
    grid-row: 4/6;
}

.cardInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 26vh;
    justify-content: space-around;
}

.test {
    position:relative;
}