.DiagnosticToolComponant {
    height: 100vh;
}

header {
    align-items: center;
    background-color: #0071c5;
    box-shadow: 0px 5px 5px #d3d3d3;
    color: #fff;
    display: flex;
    height: 50px;
    justify-content: space-between;  
}

header h2{
    flex-grow: .2;
    text-align: center;
}

header ul {
    display: flex;
}

header li {
    width:50px;
}

header li:nth-child(1) {
    border-right: 1px solid #fff;
    margin-right: 25px;
    padding-right: 25px;
    width: fit-content;  
}

.test{
    text-align: center;
}

